C:/Users/gdldieca/Documents/Dev/APIREST/.vscode
C:/Users/gdldieca/Documents/Dev/APIREST/virtenv
C:/Users/gdldieca/Documents/Dev/APIREST/djangorest/djangorest/__pycache__
/__pycache__
/migrations
C:/Users/gdldieca/Documents/Dev/APIREST/djangorest/api/migrations